.login {
  margin: 0 auto;
  height: 80vh;
  padding: 0;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__title {
  margin: 0 0 210px;
  padding: 0;
  color: #0f3242;
  text-align: center;
}